.container-app{
  min-height: 100vh;
}
.container-fluid {
  /* border: 2px solid; */
  width: 100%;
  padding: 0;
  
  background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.856)), url('./assets/img-ruas.webp');
  background-size: cover;
}
 
/* telas menores */
@media (max-width: 768px) {
  .content-title {
    width: 100%;
  }

  .content-btn {
    width: 100%;
  }
}