:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
} 
.container-app{
  min-height: 100vh;
}
.container-fluid {
  /* border: 2px solid; */
  width: 100%;
  padding: 0;
  
  background-image: linear-gradient(rgba(255, 255, 255, 0.822), rgba(255, 255, 255, 0.822)), url('./assets/img-ruas.webp');
  background-size: cover;
}
 
/* HEADER */
.container-header {
  /* border: 2px solid blue; */
  width: 100%;
  /* height: 15vh; */
  display: flex;
  flex-wrap: wrap;
}

.content-title {
  /* border: 2px solid red; */
  width: 80%;
  border-end-end-radius:10px;
  background-color:#3389faab;
  display: flex;
  align-items: center;
  padding: 15px;
}

h1{
  font-size: 2.1rem;
  color: #fff;
}

.content-btn {
  /* border: 2px solid green; */
  width: 20%;
  display: flex;
  align-items: end;
  justify-content: center;
}

/* TABLE */
.content-table{
  /* border: 2px solid red; */
  /* background-color: transparent;
  width: 100%;
  overflow-x: auto;
  padding: 12px;
  box-shadow: -3px 2px 9px 0px #665B5B; */
}

.table{
  background-color: transparent;
  width: 100%;
  overflow-x: auto;
  padding: 12px;
  box-shadow: -3px 2px 9px 0px #665B5B;
}
.thead th{
  background-color: #779ccccb;
  color: #665B5B;
}


.thead th:first-child{
  border-top-left-radius: 10px;
}

.thead th:last-child{
  border-top-right-radius: 10px;
}
.thead th.actions{
  background-color: #7c78787e;
  border-top-left-radius: 10px;
}

.tbody th,
.tbody td{
  border-bottom: 1px dotted #7c7878;
}
/* telas menores */
@media (max-width: 768px) {
  .content-title {
    width: 100%;
  }

  .content-btn {
    width: 100%;
  }
}