:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container-fluid {
  border: 2px solid;
  width: 100%;
  height: 100vh;
  padding: 0;
}

/* HEADER */
.container-header {
  border: 2px solid blue;
  width: 100%;
  height: 15vh;
  display: flex;
  flex-wrap: wrap;
}

.content-title {
  border: 2px solid red;
  width: 80%;
}

.content-btn {
  border: 2px solid green;
  width: 20%;
}

/* telas menores */
@media (max-width: 768px) {
  .content-title {
    width: 100%;
  }

  .content-btn {
    width: 100%;
  }
}