.content-table{
  overflow-x: auto;
  display: flex;
  justify-content: center;
  
}

.table{
  background-color: transparent;
  width: 80%;
  overflow-x: auto;
  padding: 12px;
  box-shadow: -3px 2px 9px 0px #665B5B;
}

.thead th{
  background-color: #779ccccb;
  color: #665B5B;
}


.thead th:first-child{
  border-top-left-radius: 10px;
}

.thead th:last-child{
  border-top-right-radius: 10px;
}
.thead th.actions{
  background-color: #7c78787e;
  border-top-left-radius: 10px;
}

.tbody th,
.tbody td{
  border-bottom: 1px dotted #7c7878;
}