.container-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(#7096dbb2, #ffffff), url('../../../assets/cidade.webp');
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}


h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

p {
  font-size: 1.3rem;
}

.content-btns{
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.link {
  color: #fff;
  text-decoration: none;
}

.link:hover{
    color: #000 !important;
}
.btn:hover{
  background-color: #7096dbb2 !important;
}
 
@media (max-width:425px) {
  .container-header {
    display: flex;
    justify-content: center;
  }

  .content-btns {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: auto;
  }

  
}