/* HEADER */
.container-header {
  width: 100%;
  /* height: 20vh; */
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(rgba(112, 150, 219, 0.699), rgb(255, 255, 255)), url('../../../assets/cidade.webp');
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px ;
}


h1{
  font-size:2rem;
  font-weight: bold;
  color: #fff;
}

p{
  font-size: 1.3rem;
}

.link{
  color: #111111;
  text-decoration: none;
}
