.container-form {
    display: flex;
    justify-content: center;

}

.card-form {
    border: 2px solid;
    max-width: 50vw;
}

.campos {
    border: 2px solid red;
    /* width: 100%; */
}

.card-content {
    border: 2px solid green;
    display: flex;
    flex-direction:row;

}

.content-form {
    /* border: 2px solid; */
    box-shadow: 2px 4px 10px 4px #aba7a7;
    background-color: #fff;
}

.divider {
    border: 1px dotted rgba(97, 97, 97, 0.808);
}